[submodule "docs/PayloadsAllTheThings"]
	path = docs/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
[submodule "enumeration/linux/LinEnum"]
	path = enumeration/linux/LinEnum
	url = https://github.com/rebootuser/LinEnum.git
[submodule "osint/websites/EyeWitness"]
	path = osint/websites/EyeWitness
	url = https://github.com/FortyNorthSecurity/EyeWitness.git
[submodule "osint/leaks/pwnedOrNot"]
	path = osint/leaks/pwnedOrNot
	url = https://github.com/thewhiteh4t/pwnedOrNot.git
[submodule "bruteforce/gobuster"]
	path = bruteforce/gobuster
	url = https://github.com/OJ/gobuster.git
[submodule "bruteforce/wfuzz"]
	path = bruteforce/wfuzz
	url = https://github.com/xmendez/wfuzz
[submodule "privesc/linux-exploit-suggester-2"]
	path = privesc/linux/linux-exploit-suggester-2
	url = https://github.com/jondonas/linux-exploit-suggester-2.git
[submodule "scanning/GitTools"]
	path = enumeration/protocols&tools/GitTools
	url = https://github.com/internetwache/GitTools
[submodule "osint/wordlists/CeWL"]
	path = osint/wordlists/CeWL
	url = https://github.com/digininja/CeWL
[submodule "enumeration/cms/Typo-Enumerator"]
	path = enumeration/cms/Typo-Enumerator
	url = https://github.com/whoot/Typo-Enumerator
[submodule "scanning/CMSmap"]
	path = enumeration/cms/CMSmap
	url = https://github.com/Dionach/CMSmap
[submodule "scanning/wpscan"]
	path = enumeration/cms/wpscan
	url = https://github.com/wpscanteam/wpscan
[submodule "shells/p0wny-shell"]
	path = shells/p0wny-shell
	url = https://github.com/flozz/p0wny-shell.git
[submodule "shells/powershell/unicorn"]
	path = shells/powershell/unicorn
	url = https://github.com/trustedsec/unicorn
[submodule "shells/revshell-creator"]
	path = shells/revshell-creator
	url = https://github.com/parzel/revshell-creator
[submodule "shells/php/php-reverse-shell"]
	path = shells/php/php-reverse-shell
	url = https://github.com/pentestmonkey/php-reverse-shell.git
[submodule "wordlists/SecLists"]
	path = wordlists/SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "bypass/antivirus/HackTheWorld"]
	path = bypass/HackTheWorld
	url = https://github.com/stormshadow07/HackTheWorld
[submodule "enumeration/protocols/smbmap"]
	path = enumeration/protocols&tools/smbmap
	url = https://github.com/ShawnDEvans/smbmap
[submodule "privesc/LinEnum"]
	path = privesc/linux/LinEnum
	url = https://github.com/rebootuser/LinEnum
[submodule "post-exploitation/static-binaries"]
	path = post-exploitation/linux/static-binaries
	url = https://github.com/andrew-d/static-binaries.git
[submodule "post-exploitation/impacket_static_binaries"]
	path = active-directory/impacket_static_binaries
	url = https://github.com/ropnop/impacket_static_binaries.git
[submodule "post-exploitation/windapsearch"]
	path = active-directory/windapsearch
	url = https://github.com/ropnop/windapsearch.git
[submodule "post-exploitation/kerbrute"]
	path = active-directory/kerbrute
	url = https://github.com/ropnop/kerbrute
[submodule "exploitation/pwntools"]
	path = exploitation/pwntools
	url = https://github.com/Gallopsled/pwntools
[submodule "exploitation/gef"]
	path = exploitation/gef
	url = https://github.com/hugsy/gef.git
[submodule "allround/impacket"]
	path = active-directory/impacket
	url = https://github.com/SecureAuthCorp/impacket
[submodule "privesc/JAWS"]
	path = privesc/windows/JAWS
	url = https://github.com/411Hall/JAWS
[submodule "post-exploitation/chisel"]
	path = post-exploitation/chisel
	url = https://github.com/jpillora/chisel
[submodule "exploitation/libc-database"]
	path = exploitation/libc-database
	url = https://github.com/niklasb/libc-database.git
[submodule "post-exploitation/pspy"]
	path = post-exploitation/linux/pspy
	url = https://github.com/DominicBreuker/pspy.git
[submodule "post-exploitation/Empire"]
	path = post-exploitation/windows/Empire
	url = https://github.com/EmpireProject/Empire.git
[submodule "privesc/PowerSploit"]
	path = privesc/windows/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit.git
[submodule "privesc/linux/linuxprivchecker"]
	path = privesc/linux/linuxprivchecker
	url = https://github.com/sleventyeleven/linuxprivchecker.git
[submodule "bypass/Veil"]
	path = bypass/Veil
	url = https://github.com/Veil-Framework/Veil.git
[submodule "privesc/linux/linux-kernel-exploits"]
	path = privesc/linux/linux-kernel-exploits
	url = https://github.com/SecWiki/linux-kernel-exploits.git
[submodule "docs/tbhm"]
	path = docs/tbhm
	url = https://github.com/jhaddix/tbhm.git
[submodule "osint/subdomains/amass"]
	path = enumeration/subdomains/amass
	url = https://github.com/caffix/amass
[submodule "osint/subdomains/subfinder"]
	path = enumeration/subdomains/subfinder
	url = https://github.com/subfinder/subfinder
[submodule "enumeration/subdomains/massdns"]
	path = enumeration/subdomains/massdns
	url = https://github.com/blechschmidt/massdns
[submodule "wordlists/jhaddix-all"]
	path = wordlists/jhaddix-all
	url = https://gist.github.com/jhaddix/86a06c5dc309d08580a018c66354a056
